


#profileContainer1{
    margin: 0 auto;
    padding: 0 5px;
}

#logo{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-align: center;
}

#center{
    margin: 0 auto;
}

#burger{
    display: none   ;
}

#addPost1{
    margin: 0 auto;
}

#sideNav1{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}

 

#textarea{
    resize: none;
    border: 1px "#3BD98A";
}

#profileTopContainer{
    border-bottom: 1px solid #DBDBDB;
    border-radius: 0;
    margin: 0 auto;
    
}


#textarea:focus {
    border: 1px "#3BD98A";
 }

#cardPost{
    margin: 0 auto;
}

#postwidth{
    width: 600px;
}
@media only screen and (max-width: 600px) {

    #sideNav {
        display: none;
    }

    #burger{
        display: inline;
    }

    #burgerContainer1{
        display: inline;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
    }

    .homeNav{
        margin-top: 50px;
    }

    #profileContainer1, #notiTop, #AddPostContainer{
        margin-top: 110px;
    }

    
  }


  @media only screen and (max-width: 700px) {
    #postwidth{
        width: 400px;
    }
  }

  @media only screen and (max-width: 360px) {
    #postwidth{
        width: 280px;
    }
  }
